transport select jtag
adapter_khz 1000
#source ./tcl/bitsbytes.tcl
#source ./tcl/memory.tcl
#source ./tcl/mmr_helpers.tcl
#source ./tcl/interface/ftdi/tumpa.cfg
source ./tcl/target/esp32.cfg

#Reminder: use eg 'targets esp32.cpu1' to change target.

proc esp32_attach_proc_pro { } {
	echo " * Stop pro CPU"
	targets esp32.cpu0
	halt
	echo " * Let pro CPU enable app CPU"
	mww 0x3ff0002C 0
	reset halt
	echo " * Load pro CPU ROM"
	load_image ../ESP32_FPGA_ROM/esp8689_for_rom_xcc/eagle.rom.out 0 elf
	echo " * Switch to app CPU, which is now running, and load the ROM for it."
	targets esp32.cpu1
	halt
	load_image ../ESP32_FPGA_ROM/esp8689_for_rom_xcc/eagle.rom.out 0 elf
	targets esp32.cpu0
	echo " * Kill app CPU again"
	mww 0x3ff0002C 1
	echo " * Run ROM code on pro CPU"
	reset
	sleep 1
	halt
#	wait_halt 1
	echo " * ROM code finished."
}

proc esp32_attach_proc_app { } {
	targets esp32.cpu1
	halt
}


$_TARGETNAME2 configure -event gdb-attach esp32_attach_proc_pro
$_TARGETNAME1 configure -event gdb-attach esp32_attach_proc_app


gdb_breakpoint_override hard


