transport select jtag
adapter_khz 1000
#source ./tcl/bitsbytes.tcl
#source ./tcl/memory.tcl
#source ./tcl/mmr_helpers.tcl
#source ./tcl/interface/ftdi/tumpa.cfg
source ./tcl/target/esp32_only_pro.cfg


proc esp32_attach_proc_pro { } {
	echo " * Stop pro CPU"
	reset halt
	reg pc 0x40000400
	echo " * Load pro CPU ROM"
	load_image ../ESP32_FPGA_ROM/esp8689_for_rom_xcc/eagle.rom.out 0 elf
	echo " * Run ROM code on pro CPU"
	resume
	sleep 1
	halt
#	wait_halt 1
	echo " * ROM code finished."
}

proc esp32_disable_caches { } {
	echo "Disable caches"
	# PRO_CACHE_CTRL_REG
	mww 0x3ff00040 0
	# APP_CACHE_CTRL_REG
	mww 0x3ff00058 0
	# SPI_CACHE_FCTRL(0)
	mww 0x3ff43050 0
}

#$_TARGETNAME configure -event gdb-attach esp32_attach_proc_pro

$_TARGETNAME configure -event reset-halt-post esp32_disable_caches

#Disable the pro cpu stopping the app cpu when halted
esp108 smpbreak none


gdb_breakpoint_override hard


