# SPDX-License-Identifier: GPL-2.0-or-later
#
# ESP32-S31 LP core configuration for OpenOCD.
# This file is included by board configs that target the LP core.
#

# Target specific global variables
# config for 3 cores (2xHP+LP) in SMP mode
set _ONLYCPU                    0x13
set _ESP_SMP_TARGET             1
set ESP_RTOS                    "hwthread"

source [find target/esp32s31.cfg]

# TODO: LP core is not supported yet [OCD-1293]
