# SPDX-License-Identifier: GPL-2.0-or-later
#
# ESP32-S31 LP core configuration for OpenOCD.
# This file is included by board configs that target the LP core.
#

# Target specific global variables
# config for 3 cores (2xHP+LP) in SMP mode
set _ONLYCPU                    0x13
set _ESP_SMP_TARGET             1
set ESP_RTOS                    "hwthread"

source [find target/esp32s31.cfg]

set PMU_LP_CPU_PWR0_REG         0x207041ac
set PMU_HP_LP_CPU_COMM_REG      0x207041b8
set PMU_LP_CPU_PWR1_REG         0x207041b0
set PMU_LP_CPU_PWR2_REG         0x207041b4
set LPPERI_CPU_CTRL_REG         0x20710004
set LPPERI_INTR_CTRL_REG        0x20710024
set LPPERI_CPU_REG              0x20710040

proc lpcore_reset { } {
    global PMU_LP_CPU_PWR0_REG PMU_HP_LP_CPU_COMM_REG PMU_LP_CPU_PWR1_REG PMU_LP_CPU_PWR2_REG
    global LPPERI_CPU_CTRL_REG LPPERI_INTR_CTRL_REG LPPERI_CPU_REG _TARGETNAME_0

    $_TARGETNAME_0 arp_examine
    targets $_TARGETNAME_0

    # Reset LP CPU (LP_PERI_CLKRST.cpu_ctrl.lp_core_rst_en = 1)
    reg_set $LPPERI_CPU_CTRL_REG 0x80000000
    # Reset interrupt controller (LP_PERI_CLKRST.intr_ctrl.lp_intr_rst_en = 1)
    reg_set $LPPERI_INTR_CTRL_REG 0x80000000
    # Release reset (LP_PERI_CLKRST.cpu_ctrl.lp_core_rst_en = 0)
    reg_clear $LPPERI_CPU_CTRL_REG 0x80000000
    # Release interrupt reset (LP_PERI_CLKRST.intr_ctrl.lp_intr_rst_en = 0)
    reg_clear $LPPERI_INTR_CTRL_REG 0x80000000

    # Enable LP CPU bus clock (LP_PERI_CLKRST.cpu_ctrl.lp_core_clk_force_on = 1)
    reg_set $LPPERI_CPU_CTRL_REG 0x40000000

    # Enable LP CPU interrupt clock (LP_PERI_CLKRST.intr_ctrl.lp_intr_clk_en = 1)
    reg_set $LPPERI_INTR_CTRL_REG 0x40000000

    # PMU.lp_ext.pwr0.slp_stall_en = 1
    # PMU.lp_ext.pwr0.slp_reset_en = 1
    reg_set $PMU_LP_CPU_PWR0_REG 0x60000000

    # PMU.lp_ext.pwr2.wakeup_en = LP_CORE_LL_WAKEUP_SOURCE_HP_CPU (0x2)
    reg_set $PMU_LP_CPU_PWR2_REG 0x00000002

    # PMU.lp_ext.pwr1.sleep_req = 1
    reg_set $PMU_LP_CPU_PWR1_REG 0x80000000

    # Set up infinite loop code 'j 0x0' at LP core code memory (0x2e000080)
    mww 0x2e000080 0x0000006F

    # PMU.hp_lp_cpu_comm.hp_trigger_lp = 1
    reg_set $PMU_HP_LP_CPU_COMM_REG 0x80000000

    # Wait for the reset to happen
    sleep 10
    poll

    # PMU.lp_ext.pwr0.slp_reset_en = 0
    reg_clear $PMU_LP_CPU_PWR0_REG 0x40000000

    # LP_PERI_CLKRST.cpu.lpcore_dbgm_unavailable = 0
    reg_clear $LPPERI_CPU_REG 0x80000000
}

$_TARGETNAME_0 configure -event reset-start {
    lpcore_reset
}
