# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-S31 LP core connected via builtin USB-JTAG adapter.
#
#   openocd -f board/esp32s31-lpcore-builtin.cfg
#

# Source the JTAG interface configuration file
source [find interface/esp_usb_jtag.cfg]
# Source the ESP32-S31 LP core configuration file
source [find target/esp32s31-lpcore.cfg]
