# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-S31 LP core connected via FTDI adapter.
#
#   openocd -f board/esp32s31-lpcore-ftdi.cfg
#

# Source the JTAG interface configuration file
source [find interface/ftdi/esp_ftdi.cfg]
# Source the ESP32-S31 LP core configuration file
source [find target/esp32s31-lpcore.cfg]
