# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-S31 connected via FTDI adapter.
#
# For example, OpenOCD can be started for ESP32-S31 debugging on
#
#   openocd -f board/esp32s31-ftdi.cfg
#

# Source the JTAG interface configuration file
source [find interface/ftdi/esp_ftdi.cfg]
# Source the ESP32-S31 configuration file
source [find target/esp32s31.cfg]
